<%- include('../component/page-header') %>

<%- include('../component/page-nav') %>

<%- include('../component/page-notice') %>

<%- include('../component/modal-simple-prompt') %>

<div class='container'>
	<div class='row'>
		<div class='col-lg-8'>
			<h3 class='page-header'>创建文章</h3>
		</div>
	</div>
	<div class='row'>
		<div class='col-lg-8'>
			<div class='row'>
				<form class='form' id='article-create-form'>
					<div class='form-group col-lg-12'>
						<label >标题</label>
						<input type='text' class='form-control' placeholder='请输入文章标题' name='title'/>
					</div>
					<div class='form-group col-lg-6'>
						<label >分类</label>
						<select class='form-control' name='category'>
							<% if (user.group == 'admin') { -%>
								<option value='czlife'>czlife</option>
								<option value='ask'>问答</option>
								<option value='note'>个人笔记</option>
							<% } else { -%>
								<option value='ask'>问答</option>
							<% } -%>
						</select>
					</div>
					<div class='form-group col-lg-6'>
						<label>可见性</label>
						<select class='form-control' name='visibility'>
							<option value='true'>所有人可见</option>
							<option valie='false'>仅自己可见</option>
						</select>
					</div>
					<div class='form-group col-lg-12'>
						<label>内容</label>
						<textarea class='form-control' placeholder='请输入内容' name='content' id='createArticle-summernote'></textarea>
					</div>
					<div class='form-group'>
						<div class='col-lg-offset-8 col-lg-4'>
							<button type='button' class='btn btn-primary czlife-full-width-btn' id='createArticle-submitBtn'>发布</button>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class='col-lg-4'>
			<%- include('../component/card-introduction') %>
			<%- include('../component/card-hot-article') %>
			<%- include('../component/card-recommend-article') %>
		</div>
	</div>
</div>



<script type='text/javascript' src='/views-article-create.js'></script>

<%- include('../component/page-footer') %>