<%- include('../component/page-header') %>

<%- include('../component/page-nav') %>

<%- include('../component/page-notice') %>

<div class='container'>
	<div class='row'>
		<div class='col-lg-8'>
			<div class='panel <%- userStyle.panel ? 'panel-' + userStyle.panel : 'panel-default' %>'>
				<div class='panel-heading'>所有文章</div>
				<ul class='list-group'>
       			 	<% articleList.forEach((article) => { %>
            			<%- include('../component/article-list-item', {article: article}) %>
        			<% }) -%> 
				</ul>
			</div>
		</div>
		<div class='col-lg-4'>
			<%- include('../component/card-introduction') %>
			<%- include('../component/card-hot-article') %>
			<%- include('../component/card-recommend-article') %>
		</div>
	</div>
</div>


<%- include('../component/page-footer') %>