<li class="list-group-item">
	<a class='czlife-float-left'>
		<img class='img-circle' style='width: 40px;height: 40px' src='/<%- article.author.avatar %>'/>
	</a>
	<div class='czlife-float-right czlife-height-40-line-3' style='color: #999;'>
		<span><i class='glyphicon glyphicon-dashboard'></i>&nbsp;<%- article.created_at %></span>&nbsp;
		<span><i class='glyphicon glyphicon-eye-open'></i>&nbsp;<%- article.bt %></span>&nbsp;
		<span><i class='glyphicon glyphicon-comment'></i>&nbsp;<%- article.commentCount %></span>
		<span class='label label-success'>
			<a href='/article/modify/<%- article._id %>' style='color: white'>修改</a>
		</span>&nbsp;
		<span class='label label-danger'>
			<a href="javascript: showDeleteModal('<%- article._id %>')" style='color: white'>删除</a>
		</span>
	</div>
	<div class='czlife-height-40-line-3 czlife-padding-left-10 czlife-overflow-pot'>
		<% if (article.category == 'czlife') { -%>
			<span class="label label-primary czlife-span">czlife</span>
		<% } else if (article.category == 'ask') { -%>
			<span class="label label-info czlife-span">问答</span>
		<% } else { %>
			<span class="label label-success czlife-span">个人笔记</span>
		<% } -%>
		<a href='/article/<%- article._id %>'><span><%- article.title %></span></a>
	</div>
</li>