<div>
	<h3 class='page-header '>所有用户</h3>
	<table class="table table-hover" >
		<tr class='czlife-no-top-border'>
			<th>用户名</th>
			<th>积分</th>
			<th>文章数</th>
			<th>评论数</th>
			<th>操作</th>
		</tr>
		<% for (var i = 0; i < allAuthors.length; i++) { -%>
			<tr>
				<td><%- allAuthors[i].name %></td>
				<td><%- allAuthors[i].score %></td>
				<td><%- allAuthors[i].articleCount %></td>
				<td><%- allAuthors[i].commentCount %></td>
				<td><a href="javascript: showDeleteModal2('<%- allAuthors[i]._id %>')">删除</a></td>
			</tr>
		<% } -%>
	</table>
</div>

