<%- include('../component/page-header') %>

<%- include('../component/page-nav') %>

<%- include('../component/page-notice') %>



<div class='container'>
	<div class='row'>
		<div class='col-lg-8'>
			<%- include('../component/page-carousel') %>
			<%- include('../component/page-content-article-list') %>
		</div>
		<div class='col-lg-4'>
			<%- include('../component/card-introduction') %>
			<%- include('../component/card-hot-article') %>
			<%- include('../component/card-recommend-article') %>
		</div>
	</div>
</div>


<%- include('../component/page-footer') %>